.Actual-Card {
    background-color: red;
    height: 80%;
    width: 10%;
    font-size: 5vw;
    text-align: center;
    border-radius: 10px;
    border: 2px solid white;
}

.Hidden  {
    background-color: black;
    background-image: url('../imgs/cardBack.png');
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    width: 10%;
    font-size: 5vw;
    text-align: center;
    border-radius: 10px;
    border: 2px solid white;
}

.Matched-Card {
    background-color: rgba(0,110,230,0.5);
    height: 80%;
    width: 10%;
    font-size: 5vw;
    text-align: center;
    border-radius: 10px;
    border: 2px solid white;
}


