.Actual-Card {
    background-color: red;
    height: 80%;
    width: 10%;
    font-size: 5vw;
    text-align: center;
}

.Hidden  {
    background-color: black;
    height: 80%;
    width: 10%;
    font-size: 5vw;
    text-align: center;
}

.Matched-Card {
    background-color: yellow;
    height: 80%;
    width: 10%;
    font-size: 5vw;
    text-align: center;
}


